// We can seperate major components using partials
@import './resets'; // resets partial
@import './variables'; // resets partial

@function weight($weight-name) {
	@return map-get($font-weights, $weight-name);
}

body {
	background: $primary-color;
	color: $text-color;
}
.main {
	width: 80%;
	margin: 0 auto;
	#{&}__paragraph {
		// font-weight: map-get($font-weights, bold); // method one
		font-weight: weight(bold); // method two
		&:hover {
			color: pink;
		}
	}
}
